@model WebAppHW03.Models.ListOfContacts
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetFriends</title>
</head>
<body>
    <h2><u><b>Hellinho's mighty list of close contacts :P</b></u></h2>
    <br />
    @* GetFriends View. Returns all contacts that are close friends to the User, 
        i.e. if IsCloseFriend = true. Also can include any new contact the user adds.*@
    <ul>
        @{
            var friends = Model.MyContacts.Where(x => x.IsCloseFriend == true).ToList();
            foreach (var item in friends)
            {
                <li>
                    FirstName: <b>@item.FirstName</b>,
                    LastName: <b>@item.LastName</b>,
                    PhoneNumber: <b>@item.PhoneNumber</b>
                </li>
            }
        }
    </ul>
</body>
</html>
